body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}
header {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 20px;
}
#input {
  font-size: 20px;
}
#episodesNumber {
  font-weight: 300;
}

#root {
  color: red;
}

footer {
  bottom: 0;
  right: 5px;
  text-align: center;
  margin-top: 20px;
  left: 0;
  width: 100%;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  gap: 5%;
  row-gap: 60px;
}
/* Episode design */
.episodeCard {
  width: 30%;
  background-color: beige;
  border-radius: 15px;
  text-align: center;
  padding: 0px;
  box-shadow: 7px 7px 5px rgb(228, 228, 228);
  min-width: 300px;
  box-sizing: border-box;
}

.showCard {
 width: 80%;
}

.episodeImage {
  width: 80%;
  margin-top: 10px;
}

.episodeTitle {
  margin: 0px;
  padding: 40px;
  border: 2px solid black;
  border-radius: 15px;
}

.episodeSummary {
  margin: 20px;
}
/* End of episode design */


/* Show design */
.showCard {
  width: 100%;
  padding: 20px;
  background-color: rgb(203, 214, 194);

}

.showTitle {
  max-width: 60% ;
}
.cardContent {
  display: flex;
}

.showSummary {
  margin: 0px 50px;
  min-width: 60%;
}
.info {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
  min-width: 13%;
} 
/* end of Show design */
#head {
  background-color: rgba(0, 0, 0, 0.644);
  color: aliceblue;
  text-align: center;
  margin-top: 0px;
  padding-top: 0.67em;
}