body {
  position: relative;
}
header {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 20px;
}
#input {
  font-size: 20px;
}
#episodesNumber {
  font-weight: 300;
}

#root {
  color: red;
}

footer {
  bottom: 0px;
  right: 5px;
  text-align: center;
  margin-top: 20px;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  gap: 5%;
  row-gap: 60px;
}

article {
  width: 30%;
  background-color: beige;
  border-radius: 15px;
  text-align: center;
  padding: 0px;
  box-shadow: 7px 7px 5px rgb(228, 228, 228);
  min-width: 300px;
  box-sizing: border-box;
}

img {
  width: 80%;
  margin-top: 10px;
}

h3 {
  margin: 0px;
  padding: 40px;
  border: 2px solid black;
  border-radius: 15px;
}

summary {
  margin: 20px;
}
